.SearchResults {
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 95%;
    max-height: 1000px;
    padding: 1rem 2rem 1rem 1rem;
    border-right: 1.5px solid rgb(30, 215, 96);
    overflow-y: auto;
}

.SearchResults-title {
    display: flex;
    align-items: center;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid rgb(30, 215, 96);
}

.faBars {
    padding: 0 0.5rem 0 0;
    color: rgb(30, 215, 96);
}

.SearchResults-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 10% auto;
}

.SearchResults-empty p {
    color: rgb(118, 118, 118);
}

.faMagnifyingGlass {
    width: 10rem;
    height: 10rem;
    padding-bottom: 0.75rem;
    color: rgb(118, 118, 118, 0.3);
}

.SearchResults-container {
    position: relative;
}

.loading-spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10% 0;
}

.loading {
    position: absolute;
    display: flex;
    z-index: 3;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

.loading p {
    margin-top: 10px;
}

.loader {
    border: 5px solid rgb(30, 215, 96);
    border-top: 5px solid rgb(17, 159, 67);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    animation: spinLoad 1s linear infinite;
}

@keyframes spinLoad {
     0% {
         transform: rotate(0deg);
     }

     100% {
         transform: rotate(360deg);
     }
 }

.SearchResults::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
    border: 1px solid rgb(30, 215, 96);
}

.SearchResults::-webkit-scrollbar-thumb {
    background-color: rgb(30, 215, 96);
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 100px;
}

.SearchResults::-webkit-scrollbar-thumb:hover {
    background-color: rgb(17, 159, 67);
}

.SearchResults::-webkit-scrollbar-button:single-button {
    display: block;
    background-color: transparent;
    background-size: 10px;
    background-repeat: no-repeat;
}

.SearchResults::-webkit-scrollbar-button:single-button:vertical:decrement {
    width: 16px;
    height: 12px;
    background-position: center 4px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(30, 215, 96)'><polygon points='50,00 0,50 100,50'/></svg>");
}

.SearchResults::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(17, 159, 67)'><polygon points='50,00 0,50 100,50'/></svg>");
}

.SearchResults::-webkit-scrollbar-button:single-button:vertical:increment {
    width: 16px;
    height: 12px;
    background-position: center 4px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(30, 215, 96)'><polygon points='0,0 100,0 50,50'/></svg>");
}

.SearchResults::-webkit-scrollbar-button:single-button:vertical:increment:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(17, 159, 67)'><polygon points='0,0 100,0 50,50'/></svg>");
}

@media only screen and (max-width: 1020px) {
    .SearchResults {
        width: 80%;
        padding: 0;
        margin-bottom: 15%;
        border: 1px solid rgb(30, 215, 96);
        box-shadow: 0px 0px 20px rgb(30, 215, 96);
    }

    .SearchResults-container {
        padding: 2rem 2rem 0 2rem;
    }

    .loading {
        width: 90%;
    }
}