body,
html,
#root {
  height: 100%;
}

body {
  background-color: rgb(20, 21, 26);
}

html {
  font-family: Orbitron, monospace;
  font-size: 16px;
  letter-spacing: 2px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2%;
}

header a {
  text-decoration: none;
}

header img {
  width: 3.5rem;
  height: 3.5rem;
  padding-right: 0.5rem;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.loading p {
  margin-left: 5px;
}

.loader {
  border: 5px solid rgb(30, 215, 96);
  border-top: 5px solid rgb(17, 159, 67);
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  animation: spinLoad 1s linear infinite;
}

@keyframes spinLoad {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.bold {
  font-weight: bold;
}

.logout {
  font-size: 0.6rem;
  font-weight: normal;
  padding: 0.1rem 0;
  color: rgb(30, 215, 96);
  background-color: unset;
  border: none;
}

.logout:hover {
  text-decoration: underline;
  color: rgb(255, 255, 255);
  border: none;
}

.logout-popup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 5%;
}

.logout-popup-container img {
  object-fit: cover;
  width: 6rem;
  aspect-ratio: 1 / 1;
  margin-bottom: 1rem;
}

.logout-popup-container p {
  text-align: center;
}

.title-container {
  display: flex;
}

.highlight {
  color: rgb(30, 215, 96);
}

h1 {
  font-family: 'Gugi';
  font-size: 2em;
  letter-spacing: normal;
  margin: 7% auto;
  color: rgb(255, 255, 255);
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(30, 215, 96);
}

h3 {
  font-size: 1.17em;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

p {
  color: rgb(255, 255, 255);
}

button {
  font-family: Orbitron, monospace;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 0.5rem 1rem;
  background-color: rgb(30, 215, 96);
  border: 1px solid transparent;
  border-radius: 100px;
}

button:hover {
  cursor: pointer;
  color: rgb(30, 215, 96);
  background-color: rgb(20, 21, 26);
  border: 1px solid rgb(30, 215, 96);
}

.SearchBar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10% 0 15%;
  background: center / cover no-repeat url(../../assets/soundwave.gif);
  border-top: 1px solid rgb(30, 215, 96);
  border-bottom: 1px solid rgb(30, 215, 96);
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
}

.SearchBar-container p {
  text-align: center;
  max-width: 1000px;
  margin: 1% 20% 3%;
}

.App-playlist {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  width: 80%;
  max-width: 1900px;
  height: 30rem;
  margin: 5%;
  border: 1px solid rgb(30, 215, 96);
  box-shadow: 0px 0px 20px rgb(30, 215, 96);
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2% auto;
}

footer p {
  font-size: 0.75rem;
}

footer a {
  text-decoration: none;
  color: rgb(30, 215, 96);
}

footer a:hover {
  text-decoration: underline;
  color: rgb(255, 255, 255);
}

.Footer-container {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.Footer-container img {
  width: 1.5rem;
  margin-right: 0.5rem;
}

.faCopyright {
  padding: 0.5rem;
  margin: 0.5rem;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: none;
}

.faCopyright:hover {
  cursor: pointer;
  border: none;
}

@media only screen and (max-width: 1020px) {
  header {
    padding-top: 1.5rem;
    margin: 0 3% 0.5rem;
  }

  .App-playlist {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: unset;
    padding: 0;
    margin-top: 7%;
    border: unset;
    box-shadow: unset;
  }

  .SearchBar-container p {
    margin-bottom: 5%;
  }

    footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 2% 2%;
    }

}

@media only screen and (max-width: 500px) {
  header img {
    width: 2.75rem;
    height: 2.75rem;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1em;
  }

  h3 {
    font-size: 0.85em;
  }

  p,
  button {
    font-size: 0.75em;
  }

  button {
    font-size: 0.75em;
    padding: 0.5rem 0.6rem;
  }
}