.Playlist {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 95%;
    max-height: 1000px;
}

.Playlist-container {
    position: relative;
    padding: 1rem 1rem 1rem 2rem;
    overflow-y: auto;
}

.Playlist-info-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 2px solid rgb(30, 215, 96);
}

.Playlist-album {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9rem;
    aspect-ratio: 1 / 1;
    margin-left: 0.25rem;
}

.Playlist-album img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.faCamera {
    position: absolute;
    z-index: 2;
    color: rgb(255, 255, 255);
}

.overlay {
    position: absolute;
    display: flex;
    z-index: 1;
    font-size: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 21, 26, 0.6);
}

.Playlist-album input {
    position: absolute;
    z-index: 3;
    font-size: 0;
    width: 100%;
    height: 100%;
}

.Playlist-album input:hover {
    cursor: pointer;
}

.Playlist-album input::file-selector-button {
    font-size: initial;
    opacity: 0;
}

.Playlist-title-desc {
    width: 75%;
}

.Playlist-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid rgb(30, 215, 96);
}

.faPenToSquare {
    padding: 0 0.5rem 0 0;
    color: rgb(30, 215, 96);
}

.Playlist-title input {
    font-family: Orbitron, monospace;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 2px;
    width: 100%;
    height: 100%;
    color: rgb(30, 215, 96);
    background-color: transparent;
    border: none;
}

.Playlist-description {
    font-family: Orbitron, monospace;
    font-weight: bold;
    letter-spacing: 2px;
    width: 95%;
    height: 200%;
    resize: none;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: none;
}

.Playlist-save-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Playlist-save {
    width: 30%;
    max-width: 150px;
    margin: 0.75rem auto 0;
    border-top: 2px solid
}

.count {
    font-size: 0.75rem;
    margin-top: 1rem;
}

.Playlist-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% auto;
}

.Playlist-empty p {
    color: rgb(118, 118, 118);
}

.faMusic {
    color: rgb(118, 118, 118, 0.3);
    width: 10rem;
    height: 10rem;
    padding-bottom: 0.75rem;
}

.loading-container {
    position: relative;
}

.loading-spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10% 0;
}

.loading {
    position: absolute;
    display: flex;
    z-index: 3;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

.loading p {
    margin-top: 10px;
}

.loader {
    border: 5px solid rgb(30, 215, 96);
    border-top: 5px solid rgb(17, 159, 67);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    animation: spinLoad 1s linear infinite;
}

@keyframes spinLoad {
     0% {
         transform: rotate(0deg);
     }

     100% {
         transform: rotate(360deg);
     }
 }

.toolbar {
    position: absolute;
    top: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
    width: 100%;
    height: 7%;
    background-color: rgb(20, 21, 26);
}

.toolbar ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: flex-start;
    padding-left: 0.5rem;
}

.toolbar li {
    padding: 5%;
}

.toolbar button {
    padding: 0.1rem;
    color: rgb(30, 215, 96);
    background-color: transparent;
    border: none;
}

.toolbar button:hover {
    color: rgb(255, 255, 255);
}

button .faArrowRightToBracket {
    cursor: auto;
    color: rgb(118, 118, 118);
}

.reset-popup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.reset-popup-container h3 {
    text-align: center;
}

.reset-popup-container p {
    text-align: center;
    margin: 5% 0;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons-container button {
    margin: 1rem;
}

.Playlist-container::-webkit-scrollbar,
.Playlist-description::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
    border: 1px solid rgb(30, 215, 96);
}

.Playlist-container::-webkit-scrollbar-thumb,
.Playlist-description::-webkit-scrollbar-thumb {
    background-color: rgb(30, 215, 96);
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 100px;
}

.Playlist-container::-webkit-scrollbar-thumb:hover,
.Playlist-description::-webkit-scrollbar-thumb:hover {
    background-color: rgb(17, 159, 67);
}

.Playlist-container::-webkit-scrollbar-button:single-button,
.Playlist-description::-webkit-scrollbar-button:single-button {
    display: block;
    background-color: transparent;
    background-size: 10px;
    background-repeat: no-repeat;
}

.Playlist-container::-webkit-scrollbar-button:single-button:vertical:decrement,
.Playlist-description::-webkit-scrollbar-button:single-button:vertical:decrement {
    width: 16px;
    height: 12px;
    background-position: center 4px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(30, 215, 96)'><polygon points='50,00 0,50 100,50'/></svg>");
}

.Playlist-container::-webkit-scrollbar-button:single-button:vertical:decrement:hover,
.Playlist-description::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(17, 159, 67)'><polygon points='50,00 0,50 100,50'/></svg>");
}

.Playlist-container::-webkit-scrollbar-button:single-button:vertical:increment,
.Playlist-description::-webkit-scrollbar-button:single-button:vertical:increment {
    width: 16px;
    height: 12px;
    background-position: center 4px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(30, 215, 96)'><polygon points='0,0 100,0 50,50'/></svg>");
}

.Playlist-container::-webkit-scrollbar-button:single-button:vertical:increment:hover,
.Playlist-description::-webkit-scrollbar-button:single-button:vertical:increment:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(17, 159, 67)'><polygon points='0,0 100,0 50,50'/></svg>");
}

@media only screen and (max-width: 1020px) {
    .Playlist {
        width: 80%;
        padding-bottom: 3.5rem;
        border: 1px solid rgb(30, 215, 96);
        box-shadow: 0px 0px 20px rgb(30, 215, 96);
    }

    .Playlist-container {
        padding: 2rem 2rem 0 2rem;
    }

    .Playlist-album {
        width: 25%;
        min-width: 140px;
    }

    .Playlist-title-desc {
        width: 75%;
    }
    
    .toolbar {
        top: 95%;
        left: 0;
        height: 3%
    }
}

@media only screen and (max-width: 500px) {
    .Playlist input {
        font-size: 1rem;
    }

    .Playlist-album {
        width: 40%;
        min-width: unset;
    }

    .Playlist-album input {
        font-size: 0;
    }

    .Playlist-title-desc {
        width: 60%;
    }

    .count {
        font-size: 0.6rem;
    }
}