.Settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 85%;
    overflow-y: auto;
}

tbody {
    width: 90%;
    height: 100%;
    margin: 0 2rem;
}

tr {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0;
}

th, td {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    color: rgb(255, 255, 255);
}

td {
    width: 10%;
}

.container, .icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tooltip {
    color: rgb(30, 215, 96);
    margin: 2px;
}

.visibility.switch {
    position: absolute;
}

.visibility.switch input {
    cursor: pointer;
    opacity: 0%;
    width: 100%;
    height: 100%;
}

.faLock, .faLockOpen {
    position: relative;
    margin-bottom: 0.25rem;
}

.switch {
    position: relative;
    display: inline-block;
    z-index: 1;
    width: 3.25rem;
    height: 1.75rem;
    margin-bottom: 0.25rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(118, 118, 118);
    border-radius: 34px;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    content: "";
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    left: 0.25rem;
    bottom: 0.25rem;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: rgb(30, 215, 96);
}

input:focus+.slider {
    box-shadow: 0 0 1px rgb(30, 215, 96);
}

input:checked+.slider:before {
    -webkit-transform: translateX(1.5rem);
    -ms-transform: translateX(1.5rem);
    transform: translateX(1.5rem);
}

.Settings::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
    border: 1px solid rgb(30, 215, 96);
}

.Settings::-webkit-scrollbar-thumb {
    background-color: rgb(30, 215, 96);
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 100px;
}

.Settings::-webkit-scrollbar-thumb:hover {
    background-color: rgb(17, 159, 67);
}

.Settings::-webkit-scrollbar-button:single-button {
    display: block;
    background-color: transparent;
    background-size: 10px;
    background-repeat: no-repeat;
}

.Settings::-webkit-scrollbar-button:single-button:vertical:decrement {
    width: 16px;
    height: 12px;
    background-position: center 4px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(30, 215, 96)'><polygon points='50,00 0,50 100,50'/></svg>");
}

.Settings::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(17, 159, 67)'><polygon points='50,00 0,50 100,50'/></svg>");
}

.Settings::-webkit-scrollbar-button:single-button:vertical:increment {
    width: 16px;
    height: 12px;
    background-position: center 4px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(30, 215, 96)'><polygon points='0,0 100,0 50,50'/></svg>");
}

.Settings::-webkit-scrollbar-button:single-button:vertical:increment:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(17, 159, 67)'><polygon points='0,0 100,0 50,50'/></svg>");
}

@media only screen and (max-width: 1020px) {
    tbody {
        width: 80%;
    }

    th {
        width: 50%;
    }   
}